<p>card works!</p>
<div class="card mt-10 mx-32 w-3/4 rounded ">
    <img class="rounded-t-3xl shadow-2xl" src="https://articles-img.sftcdn.net/t_articles/auto-mapping-folder/sites/2/2023/01/cinco-lagos.jpg"
    alt="Aqui va una imagen de bosque natural"
    title="La hermosa creación">
    <div class="textcar mt-6 mx-10">
        <h3 class="text-4xl font-sans font-bold pb-6">Titulo de la tarjeta</h3>
        <p class="text-gray-400">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non illum accusantium ab repellendus quam veritatis esse incidunt adipisci officiis voluptas veniam voluptates optio excepturi, eos, distinctio odit, numquam temporibus velit.
        </p>
        <div class="py-6 px-4 text-base ">
            <strong class="inline-block bg-gray-300 rounded px-2">#photo</strong>
            <strong class="inline-block bg-gray-300 rounded px-2">#winter</strong>
            <strong class="inline-block bg-gray-300 rounded px-2">#algo</strong>
        </div>
    </div>
</div>