<p>home-component works!</p>
<!-- Barra de navegación -->
<!-- Position Fixed me permite fijar un objeto sin reservar el espacio similar a absolute -->
<nav class="navbar p-4 md:flex md:items-center md:justify-between">
    <!-- Icono o imagen a la izquierda -->
    <div class="flex items-center space-x-2 md:space-x-0">
        <img src="icono.png" alt="Icono" class="h-8 w-8 md:hidden"> <!-- Reemplaza con tu imagen o icono -->
        <h1 class="text-white text-2xl font-bold">Tu Sitio Web</h1>
    </div>
    <!-- Opciones de navegación a la derecha -->
    <div class="space-x-4 md:space-x-8">
        <div class="relative inline-block group">
            <span class="text-white cursor-pointer">Nosotros</span>
            <ul class="hidden space-y-2 absolute bg-black p-2 left-0 top-8 group-hover:block md:w-40">
                <li><a href="#" class="text-white">Historia</a></li>
                <li><a href="#" class="text-white">Confesión de fe</a></li>
                <li><a href="#" class="text-white">Distintivos</a></li>
            </ul>
        </div>
        <a href="#" class="text-white">Iglesias recomendadas</a>
        <div class="relative inline-block group">
            <span class="text-white cursor-pointer">Recursos</span>
            <ul class="hidden space-y-2 absolute bg-black p-2 left-0 top-8 group-hover:block md:w-40">
                <li><a href="#" class="text-white">Libros</a></li>
            </ul>
        </div>
    </div>
</nav>