<div class="main">
    <!--HEADER PAGE-->
    <div class="relative isolate px-6 pt-14 lg:px-8 object-center bg-gradient-to-b from-violet-400 to-blue-500">
        <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
            aria-hidden="true">
            <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
                style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
            </div>
        </div>
        <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
            <div class="text-center">
                <h1 class="text-4xl font-semibold tracking-tight text-slate-100 sm:text-6xl">Confesión de Fe</h1>
                <p class="mt-6 text-lg italic leading-8 text--600 text-slate-200">Sola Scriptura, Solus Christus, Sola Gratia, Sola Fide, Soli Deo Gloria</p>
                <small class="mt-6 text-sm italic leading-8 text--600 text-slate-200">Sola Escritura, Solos Cristo, Sola Gracia, Sola Fe, Solo a Dios Gloria</small>
                <div class="mt-10 flex items-center justify-center gap-x-6">
                    <a href="#"
                        class="rounded-md  bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                        Nuestra Historia</a>
                    <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Distintivos <span
                            aria-hidden="true">→</span></a>
                </div>
            </div>
        </div>
        <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
            aria-hidden="true">
            <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
                style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
            </div>
        </div>
    </div>
    <!--DESCRIPCION DE LA SECCION PRINCIPAL-->
    <section class="bg-indigo-800 ">
        <div class=" bg-slate-100  flex flex-col  items-center p-10 border-t-2 border-b-2 border-indigo-950 ">
            <h3 class="p-2  rounded-lg shadow-white shadow-2xl">En la Iglesia Bautista Reformada deValencia creemos las siguientes doctrinas básicas:</h3>
        </div>
    </section>
    <!--DATOS CONTENIDO DE LA APLICACION-->
    <section class="mt-8">
        <div class="container grid grid-cols-12  mx-0">
            <article class="col-start-3 col-span-8">
                <mat-accordion multi>
                    <mat-expansion-panel *ngFor="let item of confesiondefe">
                        <mat-expansion-panel-header class="mat-expanded border-b-1 border-Amber-900 h-11">
                            {{ item.title }}
                        </mat-expansion-panel-header>
                        <p [innerHtml]="item.content"></p>
                    </mat-expansion-panel>
                </mat-accordion>
            </article>
        </div>
    </section>
</div>