

<app-header></app-header>

<!-- <div class="m-10">
    <button class="bg-blue-500 hover:bg-blue-200 text-white py-2 px-2 rounded-b-md">
        Mi boton
    </button>
</div> -->
<!-- Contenido principal con barra de navegación fija -->
<!-- <div class="fixed top-0 w-full bg-black p-4 opacity-0 navbar" id="navbar">
        <main class="bg-cover bg-center min-h-screen bg-image relative">
            <h2 class="text-3xl text-white text-center font-serif mt-8">Título Principal</h2>
            <p class="text-xl text-white text-center font-serif mt-4">Subtítulo Front-Serif</p>
        </main>
    </div> -->
<!-- <h1 class="text-3xl font-bold underline">
    Hello world!
</h1> -->
<router-outlet></router-outlet>
<app-footer></app-footer>